.promotionButton{

    width:min(11vw, 11vh);
    height:min(11vw, 11vh);
    margin : 0;
    padding: 0;
    z-index: 1000;

    background-color: rgba(121, 121, 121, 0.7);
    border:1px solid rgb(51, 51, 51);
}