.fuck{
    background: rgb(90, 156, 161); /* dark */
    background: rgb(195, 236, 236); /*lihgt */
    background: rgb(223, 118, 114); /* light */
    background: rgb(158, 71, 71); /* dark */
    
    
    
   

}